html .App {
  background-color: #C0C0C0;
  color: #282c34;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

html[mode=dark] .App {
  background: #282c34;
  color: white;
}

.Main {
  display: flex;
  align-items: center;
  height: 100%;
}


.App-header {
  /*background-color: #282c34;*/
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  padding: 10px;
}

.App-header ul.Menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.App-header ul.Menu li {
  margin-right: 10px;
}

.App-header .Tools {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

